.body {
  margin: 0;
  padding: 0;
}

.header {
  height: 5vh;
  background-color: #09e9e9;
  width: 100%;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}